body{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color:rgb(253, 238, 206);
}

.contenu{
    width: 100%;
}

.menu{
    width: 100%;
    background-color:rgb(14, 12, 12);
    display: flex;
    justify-content: space-around;
    place-items: center;
    color: white;
    padding: 30px 0;
}

.menu a{
    text-decoration: none;
    font-family: "montserrat",sans-serif;
    color: white ;
}
.menu div{
    padding: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.menu div:hover {
    background-color: rgb(255, 0, 0);
}

.corps{
    padding: 0 100px;
}

.titre{
    text-align: center;
    color:rgb(224, 105, 8);
    margin: 40px 0;
}
.presentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20;
    border-bottom: 20px solid red;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.image{
    display: grid;
    place-items: center;
}
.image img{
    width: 300px;
    border: 3px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.propos{
    text-align: center;
}

.propos h2{
    font-size: 35px;
    color:blue;
}

.propos table td{
    font-size: 20px;
    padding: 15px 0;
}

.propos tr td:nth-child(3){
    padding-left: 50px;
}

.competence{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20;
    border-bottom: 20px solid rgb(43, 192, 6);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin:50px 0;
}

.diplome{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20;
    border-bottom: 20px solid rgb(255, 0, 242);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.diplome blockquote{
    border-left: 5px solid silver;
    height: 50px;
    display: grid;
    align-items: center;
    padding-left: 10px;
}

.stage{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20;
    border-bottom: 20px solid rgb(200, 255, 0);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.stage blockquote{
    border-left: 5px solid silver;
    height: 50px;
    display: grid;
    align-items: center;
    padding-left: 10px;
}
.motivation{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20;
    border-bottom: 20px solid rgb(110, 73, 4);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.téléchargement{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20;
    border-bottom: 20px solid rgb(99, 132, 170);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

}
.contacts{
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding: 10px 20;
    border-bottom: 20px solid rgb(0, 0, 0);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.contacts table td{
    font-size: 20px;
}

.contacts td{
    padding: 15px 0;
}

.contacts tr td:nth-child(3){
    padding-left: 50px;
}